/*h1{
  color:red;
}

p{
  background-color:blue;
}*/

body{
  margin:0 100px 0 100px;
}

.header-left{
  float:left;
  background-color: beige;
  color: darkolivegreen;
}



.main{
  float:left;

}

.header-left h1{
  border-width: 1px;
  border-style: solid;
  border-radius: 8%;
}

