/*h1{
  color:red;
}

p{
  background-color:blue;
}*/

body{
}

header{
    height: 50px;
    width: auto;
    background-color: beige;
}

.header-left{
  float:left;
  color: darkolivegreen;
  
}



.header-left img{
    width: 48px;
    float: left;
}


main{
    margin:0 100px 0 100px;

}

.header-left h1{
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  margin: 0px 105px 0px 105px;
}

.Art img{
    width: 300px;px;
}
